# Database credentials
db.php

# SQL dumps
*.sql

# Environment / config files
.env
.env.local

# OS junk
.DS_Store
Thumbs.db
images/
favicon.ico


edit_user-original.php
edit_note-original.php
admin_olddashboard.php
admin_dashboard-original.php